<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>WaterReminder</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHealthShareUsageDescription</key>
    <string>WaterReminder требуется доступ к данным здоровья, чтобы отслеживать ваше потребление воды.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>WaterReminder записывает данные о потреблении воды в приложение Здоровье, чтобы помочь вам контролировать свою гидратацию.</string>
</dict>
</plist>
